<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204939934975-m9uvm7fqud46q8akcp23jvciedl9id73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204939934975-m9uvm7fqud46q8akcp23jvciedl9id73</string>
	<key>API_KEY</key>
	<string>AIzaSyCKcV9zx-V7UqBuQS2zMNeCAafOGgBUErk</string>
	<key>GCM_SENDER_ID</key>
	<string>204939934975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookuy</string>
	<key>PROJECT_ID</key>
	<string>cookuya-38cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>cookuya-38cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204939934975:ios:6f77990c666689291d20ca</string>
</dict>
</plist>